<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>place-light_34f6eb1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,334}</string>
                <key>spriteSourceSize</key>
                <string>{872,334}</string>
                <key>textureRect</key>
                <string>{{0,0},{872,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>place_a06eb30b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,334}</string>
                <key>spriteSourceSize</key>
                <string>{872,334}</string>
                <key>textureRect</key>
                <string>{{872,0},{872,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{1744,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6531234ec2299454199e2fc60984b74:206ce74c3d05b5fd6f45cacd00789352:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
