<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{0,0},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{373,0},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{0,206},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{373,206},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{0,412},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{373,412},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{0,618},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{373,618},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{0,824},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{373,824},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{0,1030},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{373,1030},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{0,1236},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{373,1236},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{0,1442},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{373,1442},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{0,1648},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,206}</string>
                <key>spriteSourceSize</key>
                <string>{373,206}</string>
                <key>textureRect</key>
                <string>{{373,1648},{373,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>liandui.png</string>
            <key>size</key>
            <string>{746,1854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2901cc45ae35257ff0b530d24f2dbec0:db1dbe4acb2c55cd601ecfc22a2b7baf:35c90dba6498a54a79ac95266f5cc198$</string>
            <key>textureFileName</key>
            <string>liandui.png</string>
        </dict>
    </dict>
</plist>
