<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_62fa7d43_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_62fa7d43_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,94}</string>
                <key>spriteSourceSize</key>
                <string>{50,94}</string>
                <key>textureRect</key>
                <string>{{0,70},{50,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_62fa7d43_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,76}</string>
                <key>spriteSourceSize</key>
                <string>{31,76}</string>
                <key>textureRect</key>
                <string>{{0,164},{31,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_62fa7d43_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,69}</string>
                <key>spriteSourceSize</key>
                <string>{54,69}</string>
                <key>textureRect</key>
                <string>{{0,240},{54,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{55,309}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f84fa693aab82f03671e8703d728708b:1ff5e1d55a0f7f836a70b009cbcfc666:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
