<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>entryBoxTitle_8fc079f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,57}</string>
                <key>spriteSourceSize</key>
                <string>{461,57}</string>
                <key>textureRect</key>
                <string>{{322,0},{461,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entryBox_58b6959a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,401}</string>
                <key>spriteSourceSize</key>
                <string>{615,401}</string>
                <key>textureRect</key>
                <string>{{0,219},{615,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entryRoomNumberBox_c5136b14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,52}</string>
                <key>spriteSourceSize</key>
                <string>{287,52}</string>
                <key>textureRect</key>
                <string>{{35,0},{287,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{0,138},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{132,138},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{264,138},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{660,138},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{396,138},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{528,138},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{660,57},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{132,57},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{0,57},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{264,57},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{528,57},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyboard_ff7324a8_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{396,57},{132,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ls_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{792,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1030553f0169a7a34af674b591cb05c5:5d869d6bc02d3a7da7caa5fbc550d4a1:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
