<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>erbagang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,270},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>points_05e7267c-_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,47}</string>
                <key>spriteSourceSize</key>
                <string>{100,47}</string>
                <key>textureRect</key>
                <string>{{100,405},{100,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,45}</string>
                <key>spriteSourceSize</key>
                <string>{92,45}</string>
                <key>textureRect</key>
                <string>{{124,270},{92,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{160,225},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{0,315},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{162,315},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{0,360},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{80,360},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,45}</string>
                <key>spriteSourceSize</key>
                <string>{82,45}</string>
                <key>textureRect</key>
                <string>{{80,315},{82,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{80,225},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{0,225},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_half_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,47}</string>
                <key>spriteSourceSize</key>
                <string>{100,47}</string>
                <key>textureRect</key>
                <string>{{0,405},{100,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_half_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{124,45},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_half_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{80,0},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_half_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,90},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_half_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,135},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_half_5_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,180},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_half_6_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{124,180},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_half_7_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{124,135},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_half_8_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{124,90},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_half_9_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{124,45}</string>
                <key>textureRect</key>
                <string>{{0,45},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{248,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a67dda3e866da3ff005dad367d4a3d98:c725e2650a0ef282abe19ccbb7236d7b:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
