<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,197}</string>
                <key>spriteSourceSize</key>
                <string>{414,197}</string>
                <key>textureRect</key>
                <string>{{0,0},{414,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_result_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1206,235}</string>
                <key>spriteSourceSize</key>
                <string>{1206,235}</string>
                <key>textureRect</key>
                <string>{{414,0},{1206,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,202}</string>
                <key>spriteSourceSize</key>
                <string>{481,202}</string>
                <key>textureRect</key>
                <string>{{0,235},{481,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gray_fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,206}</string>
                <key>spriteSourceSize</key>
                <string>{406,206}</string>
                <key>textureRect</key>
                <string>{{481,235},{406,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gray_result_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1206,235}</string>
                <key>spriteSourceSize</key>
                <string>{1206,235}</string>
                <key>textureRect</key>
                <string>{{0,441},{1206,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gray_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,209}</string>
                <key>spriteSourceSize</key>
                <string>{414,209}</string>
                <key>textureRect</key>
                <string>{{1206,441},{414,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{1620,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f44612632af957f98f48e351ff8dfee4:379c31d45e205272868f85a4d7b22b2e:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
