<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{512,1120},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{1024,1120},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{1536,1120},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{512,0},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{1024,0},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{1536,0},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{0,560},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{512,560},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{1024,560},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{1536,560},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,560}</string>
                <key>spriteSourceSize</key>
                <string>{512,560}</string>
                <key>textureRect</key>
                <string>{{0,1120},{512,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rocket.png</string>
            <key>size</key>
            <string>{2048,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcad9ad739d5415d6d7e8718307199b8:192e82640e826a975f0358baf945d5b4:f01c65fad1cd56cfb81b6cd8b900d134$</string>
            <key>textureFileName</key>
            <string>rocket.png</string>
        </dict>
    </dict>
</plist>
