<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chip_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,74}</string>
                <key>spriteSourceSize</key>
                <string>{79,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{79,0},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{157,0},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,74}</string>
                <key>spriteSourceSize</key>
                <string>{77,74}</string>
                <key>textureRect</key>
                <string>{{78,74},{77,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{90,87}</string>
                <key>textureRect</key>
                <string>{{155,74},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{245,161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dc10b38721d68f29a10d4447b3c5bb6:e0693c56b5200f14b92fb5e18f8df146:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
