<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop_xia_zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,97}</string>
                <key>spriteSourceSize</key>
                <string>{393,97}</string>
                <key>textureRect</key>
                <string>{{96,0},{393,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{95,92}</string>
                <key>textureRect</key>
                <string>{{489,0},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,97}</string>
                <key>spriteSourceSize</key>
                <string>{95,97}</string>
                <key>textureRect</key>
                <string>{{584,0},{95,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{679,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ddcd48790e97c92820a920dcd2ead6b:0c031ab7719e0367a027467a7de4b647:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
