<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KingBomb_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,279}</string>
                <key>spriteSourceSize</key>
                <string>{328,279}</string>
                <key>textureRect</key>
                <string>{{0,0},{328,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KingBomb_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,279}</string>
                <key>spriteSourceSize</key>
                <string>{328,279}</string>
                <key>textureRect</key>
                <string>{{328,0},{328,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KingBomb_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,279}</string>
                <key>spriteSourceSize</key>
                <string>{328,279}</string>
                <key>textureRect</key>
                <string>{{656,0},{328,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KingBomb_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,279}</string>
                <key>spriteSourceSize</key>
                <string>{328,279}</string>
                <key>textureRect</key>
                <string>{{984,0},{328,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KingBomb_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,279}</string>
                <key>spriteSourceSize</key>
                <string>{328,279}</string>
                <key>textureRect</key>
                <string>{{1312,0},{328,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wangzha.png</string>
            <key>size</key>
            <string>{1640,279}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:569cc633a0768f7ed29a2e35d2780930:6a169aad56fe7035dcb3de5829568eb4:bad77deff6c13e090b0531808658c4e2$</string>
            <key>textureFileName</key>
            <string>wangzha.png</string>
        </dict>
    </dict>
</plist>
