<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btns_792f4eed_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btns_792f4eed_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{58,0},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btns_792f4eed_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{116,0},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btns_792f4eed_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{174,0},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_9aaf62e5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,133}</string>
                <key>spriteSourceSize</key>
                <string>{67,133}</string>
                <key>textureRect</key>
                <string>{{0,58},{67,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruleBtn_27db9cc8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,133}</string>
                <key>spriteSourceSize</key>
                <string>{67,133}</string>
                <key>textureRect</key>
                <string>{{67,58},{67,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>service_30fd131c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,133}</string>
                <key>spriteSourceSize</key>
                <string>{66,133}</string>
                <key>textureRect</key>
                <string>{{134,58},{66,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{232,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:730b73d3c689febcffdfc1e654649708:b4fa09ea3aa5e00fe953704378d8e8fa:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
