<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birdge_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,111}</string>
                <key>spriteSourceSize</key>
                <string>{295,111}</string>
                <key>textureRect</key>
                <string>{{0,0},{295,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_corner_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,190}</string>
                <key>spriteSourceSize</key>
                <string>{305,190}</string>
                <key>textureRect</key>
                <string>{{0,111},{305,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,148}</string>
                <key>spriteSourceSize</key>
                <string>{317,148}</string>
                <key>textureRect</key>
                <string>{{0,301},{317,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middle_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,175}</string>
                <key>spriteSourceSize</key>
                <string>{299,175}</string>
                <key>textureRect</key>
                <string>{{0,449},{299,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sky_corner_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,190}</string>
                <key>spriteSourceSize</key>
                <string>{305,190}</string>
                <key>textureRect</key>
                <string>{{0,624},{305,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sky_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,148}</string>
                <key>spriteSourceSize</key>
                <string>{317,148}</string>
                <key>textureRect</key>
                <string>{{0,814},{317,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{317,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d836d01ba692061a2196f2b75cb8e17:76b8dd0630720cea7649fc2708aa4b61:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
