<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_chip_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>half_chip_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>half_chip_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{0,148},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>half_chip_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{0,222},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>half_chip_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{0,296},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>half_chip_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{0,370},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>half_chip_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{0,444},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>half_chip_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{0,518},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>half_chip_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{0,592},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>half_chip_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{40,74}</string>
                <key>textureRect</key>
                <string>{{0,666},{40,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{40,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2223753d0b394708f653d4f59c37db:6395e1115d14078c536360e658490350:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
