<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet-gold_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,56}</string>
                <key>spriteSourceSize</key>
                <string>{366,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{366,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet-gold_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,56}</string>
                <key>spriteSourceSize</key>
                <string>{366,56}</string>
                <key>textureRect</key>
                <string>{{366,0},{366,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{732,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9954fcaf4af35b66b202feff09d28df:9b08f321f904efc58856a1f20e2b5d7e:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
