<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trend_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,246}</string>
                <key>spriteSourceSize</key>
                <string>{165,246}</string>
                <key>textureRect</key>
                <string>{{0,101},{165,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_fail_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_to_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,101}</string>
                <key>spriteSourceSize</key>
                <string>{56,101}</string>
                <key>textureRect</key>
                <string>{{88,0},{56,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_to_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,101}</string>
                <key>spriteSourceSize</key>
                <string>{56,101}</string>
                <key>textureRect</key>
                <string>{{32,0},{56,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend_win_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{15,0},{17,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{165,347}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:940f711fa344b0d7e0d30623874ff173:ef1bcdbaad4d7a805eab6a6c5f8cc8a5:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
