<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>createGameBtn_05fdb3f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,66}</string>
                <key>spriteSourceSize</key>
                <string>{190,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop-btn_6d58e4d3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{190,0},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop-btn_6d58e4d3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{324,0},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop-btn_6d58e4d3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{0,66},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop-btn_6d58e4d3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{134,66},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop-btn_6d58e4d3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{268,66},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop-btn_6d58e4d3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{0,120},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop-btn_6d58e4d3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{134,120},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop-btn_6d58e4d3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{268,120},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>www.png</string>
            <key>size</key>
            <string>{458,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8862299a764864e75fe88fd824c58576:0d208e14f51e14dad3922e7d3e6b3ec0:d79b0ac62a2d882845c7734d39f52639$</string>
            <key>textureFileName</key>
            <string>www.png</string>
        </dict>
    </dict>
</plist>
